@import url("https://fonts.googleapis.com/css2?family=Actor&family=Roboto+Condensed&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #181719;
  border-top: 18px solid #8257e5;
  font-family: Actor, sans-serif;
  color: #fff;
}

img {
  width: 30vh;
  height: 14vh;
  padding-left: 3vh;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
}

form h1 {
  width: 40%;
  text-align: center;
  font-weight: 300;
  font-size: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
}

.container label {
  margin-top: 4vh;
}

.container input {
  margin-top: 1.5vh;
  height: 4vh;
  background-color: #ba77d9;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  padding: 0 2vh;
}

.termos {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 3vh;
  height: 15vh;
}

.termos label {
    display: flex;
    font-size: 1.3rem;
    margin: 0;
    padding-top: 1.5vh;
}

.termos input {
    margin-right: 2vh;
    width: 3vh;
    height: 3vh;
    font-family: Actor, sans-serif;
    font-weight: 300;
}

button {
    border: none;
    border-radius: 30px;
    background-color: #8122AE;
    color: #fff;
    padding: 2vh 0;
    cursor: pointer;
}